<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collections</title>
</head>
<body>
    {% if collections %}
        <h3>Collections</h3>
        <ul>
        {% for collection in collections %}
            <li><a href="/collection/{{ collection }}">{{ collection }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No collections.</p>
    {% endif %}
</body>
</html>
